.biography {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 90%;
  margin: 80px auto;
  padding: 4px;
  gap: 1rem;
}

.biography img {
  width: 200px;
  height: 267px;
}

.bio-section-1 {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  width: 50%;
  text-align: left;
  gap: 1.25rem;
}

.bio-section-2 {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row-reverse;
  width: 50%;
  font-size: 16px;
  text-align: right;
  gap: 1.25rem;
}

@media (max-width: 850px) {
  .biography {
    flex-direction: column;
    gap: 1.25rem;
  }

  .bio-section-1 {
    width: 100%;
  }

  .bio-section-2 {
    width: 100%;
  }

}

@media (max-width: 650px) {
  .biography {
    gap: 2rem;
  }
}